<header class="cd-main-header">
<nav class="cd-nav">

<ul class="cd-top-nav">

<li class="has-children account">
<a href="#0">

Browse Category
</a>
<ul>
<li><a href="#0">Category 1</a></li>
<li><a href="#1">Category 2</a></li>
<li><a href="#2">Category 3</a></li>
</ul>
</li>
</ul></nav>

<div class="bg"></div><div class="cd-search">
<form action="#0">
<input placeholder="Search..." type="search">
</form>
</div>
 
<a href="#0" class="cd-nav-trigger">Menu<span></span></a><div class="bg-right"></div>

<a href="#0" class="cd-logo"><img src="./assets/img/logo.jpg" alt="Logo"></a>  <div class="profile_img"> 
        <img src="./assets/img/cd-avatar.png" alt=""> <span class="prfil-img">5</span></div>
</header> 
<main class="cd-main-content">
<nav class="cd-side-nav" style="">
<ul>
<li class="cd-label">Main</li>

<li class="has-children notifications active">
<a href="#0">My Profile</a>
<ul>
<li><a href="#0">Account Settings</a></li>
<li><a href="#0">Friends</a></li>
<li><a href="#0">Groups</a></li>
<li><a href="#0">Discussions</a></li>
<li><a href="#0">Reading Challenge</a></li>
<li><a href="#0">Comments</a></li>
<li><a href="#0">Help</a></li>
<li><a href="#0">Logout</a></li>
</ul>
</li>

</ul>


</nav>